[2016-03-25 08:11] ChristianRathke opened #1 "mouse pressed is mouse released and vice versa"
In GlobalMouseHook.java "mousePressed" is called after the mouse has gone up and "mouseReleased" is called after the mouse has gone down...

[2016-03-25 15:30] kristian commented on #1
What a bug. Fixed with 8d1ab72708f237692867c2fa1d52a841e5c8a74d and version [2.3](/kristian/system-hook/releases/tag/2.3). Thank you!

[2016-03-25 15:30] #1 closed, assigned to kristian

[2016-05-03 12:39] JayVem opened #2 "System hook fails."
The sample code on the main page fails with the following error,

`Exception in thread "Global Keyboard Hook Thread" Global keyboard hook successfully started, press [escape] key to shutdown.
java.lang.UnsatisfiedLinkError: lc.kra.system.keyboard.GlobalKeyboardHook$NativeKeyboardHook.registerHook()I
    at lc.kra.system.keyboard.GlobalKeyboardHook$NativeKeyboardHook.registerHook(Native Method)

[2016-05-03 20:52] slessard commented on #2
There should be no need to extract the DLLs from the jar file as the native DLLs should be able to directly from the jar file.  Debugging the LibraryLoader class should make it quite clear exactly what file name the code is trying to load. Have you tried stepping through LibraryLoader code?

[2016-05-10 16:48] ChristianRathke opened #3 "UnsatisfiedLinkError when using system hook in WebStart"
When I try to use system-hook in a WebStart situation (https://www.hdm-stuttgart.de/~rathke/Trader/GlobalMouse.jnlp)  I get the following error:

[code]

The native library seems to load ok but when trying to register a hook the error occurs. Note that this does not happen when running the exact same code locally as in

`java -jar system-hook.jar lc.kra.system.mouse.example.GlobalMouseExample
`

[2016-05-10 18:19] kristian commented on #3
For WebStart applications I guess you'll have to use the `<nativelib>` tag, to specify native library files. It's not enough to just include them in the bundled JAR. See the [JNLP File Syntax](http://docs.oracle.com/javase/7/docs/technotes/guides/javaws/developersguide/syntax.html) documentation.

Try to downlaod the DLL files from [Appvoyer](https://ci.appveyor.com/project/kristian/system-hook),

[2016-05-10 18:42] kristian commented on #2
@slessard is right, the `LibraryLoader` class is used to locate the native library files. Using the JAR package should be sufficient, as all needed DLL files are already included. If you would like to put the DLL files into your `java.library.path` or the systems `PATH` instead, please debug the first two lines of the `LibraryLoader` class. The `System.loadLibrary(libName);` command is used to loa

[2016-05-10 18:42] #2 closed, assigned to nobody

[2016-05-11 06:23] ChristianRathke commented on #3
I identified the problem: when using WebStart the 32-bit-version of Java was used for the launcher instead of the 64-bit-version. Accessing the 64-bit-library file caused the problem. Just deinstalling the 32-bit jre from my system solved the issue.
Sorry for the bother.

[2016-05-11 06:23] #3 closed, assigned to nobody

[2016-05-11 06:39] kristian commented on #3
@ChristianRathke did you have to specify the library files with `<nativelib>`, or was it fine to use the bundled JAR? Glad it worked in the end.

[2016-05-11 07:21] ChristianRathke commented on #3
It was fine just with the bundled JAR. Although I might try your suggested option as a lot of mousehook-????.dll files accumulate in the temp directory over time. For some reason deleting the library file after loading it does not work - neither locally nor when using WebStart.

[2016-05-11 07:32] kristian commented on #3
This sounds bad. Generally the files should clean up after they've been loaded. Could you please open another issue on that one? Thanks!

[2016-05-11 10:20] ChristianRathke opened #4 "For some reason deleting the library file after loading it does not work"
The files on the temp directory containing native code for the system hooks never get cleaned up.

[2016-05-15 17:32] kristian commented on #4
Fixed with 674ab29876f2d8111cc5f71f87934cf6be80adbd and version [2.4](/kristian/system-hook/releases/tag/2.4). Thank you!

[2016-05-15 17:32] #4 closed, assigned to kristian

[2016-05-27 05:41] Ahmed8485 commented on #2
I am also still getting this error.
I am on windows 7 professional

Error is thrown while calling

If I try forcefully loading the 64bit dll. It says

[2016-05-27 11:33] kristian commented on #2
@Ahmed8485, please make sure you are using the right JRE for your platform. Are you using 32-bit or 64-bit Windows 7 Professional? Could you please paste the exception stack trace? Also please go to the command line and paste the result of `java -version`.

[2016-05-28 06:43] Ahmed8485 commented on #2
Thanks for the reply.
Windows 7 64 bit
java 64 bit
`C:\Users\ADMIN>java -version
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)`

Heres the error
`Exception in thread "Global Keyboard Hook Thread" java.lang.UnsatisfiedLinkError: lc.kra.system.keyboard.GlobalKeyboardHook$NativeKeyboardHook.registerHook()I

[2016-05-28 06:54] kristian commented on #2
@Ahmed8485 are you using the bundled JAR file provided, or are you using the class files as is and try to load the DLL files elsewhere? If so, as suggested for JayVem, please try to debug `LibraryLoader` to see, which DLL file is chosen (32-bit or 64-bit) and which one is load.

[2016-06-04 01:01] guikaercher opened #5 "Keyboard typing wrong keys"
I'm using you library for my Project to automate Support stuff.

When I type ´ it gives me ´´ instead, also when I type ~ it gives me ~~ .

My keyboard is PT-BR (ABNT)  and I'm using Windows 10. Can you help me with that?

[2016-06-04 13:37] kristian commented on #5
Sure, let us try to solve your problem. :)

You have to provide me with a little more detail though. Could you please run the `GlobalKeyboardExample` and type a few characters inlcuding the mentioned ones? Please do paste the standard output here. Also, if possible, please paste your `GlobalKeyListener` snippet here.

[2016-06-05 00:04] guikaercher commented on #5
Yeah, sure. I would appreciate any help :) .

So I ran the GlobalKeyboardExample class (I did import the already compiled .jar on releases). My keyboard layout is portuguese (Brazil) and when I type the " ´ " I'm getting two of them " ´´ " therefore I canot type like "é" or "á" because whenever I type that I got two of them.

This is the output I got:
219 [down]
219 [up]

I was Reading the c code

[2016-06-05 12:11] kristian commented on #5
That's the expected output for your input. So there are no two " ´ ". Could you please be a little more specific, what do you mean with "I'm getting two of them"? Please paste a code snippet to reproduce the problem. The example code records only one key down and one key up, which is fine.

[2016-06-06 16:06] guikaercher commented on #5
For being more specific I made a video: https://youtu.be/tA8Fr-sHnuI

Im running the example you made for keyboard.

I tried to compile the JNI stuff but I'm not sure how to do that. Wouls you mind to compile a version of your library with this paramater "MAKELANGID(LANG_NEUTRAL, SUBLANG_DEFAULT)" changed to  portuguese_brazil parameters?
They are respectively: "LANG_PORTUGUESE" and "SUBLANG_PORTU

[2016-06-19 15:52] kristian commented on #5
Sorry for my late response, I hadn't had time to check on the issue last week. Just for your information. I was able to reproduce the problem and will now try to find out why this is happening. I'll let you know as soon as I know more. Thanks.

[2016-06-19 17:44] kristian commented on #5
Fixed with 1a73f67adba6cbcecf4cf864cc97385591abda05 and version [2.5](/kristian/system-hook/releases/tag/2.5). Thank you!

[2016-06-19 17:44] #5 closed, assigned to kristian

[2016-06-19 18:36] guikaercher commented on #5
Nice, will be testing soon and let you know. Thx for the fix.

[2016-08-19 19:21] Safraann opened #6 "Input key issue with Omsi 2"
Hello, I try to get input keys coming from the game Omsi 2, especially one in particular: the touch 6. Everything works very well if I am on google chrome, my desktop or even in a folder, but as soon as Windows is on Omsi 2 (fullscreen mode or not), the console (in eclipse ide) indicates me nothing more :/
Thank you in advance =)

PS = My code if necessary :
`package fr.plaigon.djkh;

import java.

[2016-08-19 19:21] Safraann opened #7 "Input key issue with Omsi 2"
Hello, I try to get input keys coming from the game Omsi 2, especially one in particular: the touch 6. Everything works very well if I am on google chrome, my desktop or even in a folder, but as soon as Windows is on Omsi 2 (fullscreen mode or not), the console (in eclipse ide) indicates me nothing more :/
Thank you in advance =)

PS = My code if necessary :
http://pastebin.com/3fsaYiie

[2016-08-20 16:16] Safraann commented on #7
Hello, this is what I was able to adjust since the last time.
Then I managed to run well the API, only it turns out that if I launch Omsi 2 either the same Photofiltre, or even Google Chrome or any other programs as administratordirector, then the console does not receive any more the inputs. Is there a solution for this ?

[2016-08-23 16:36] Safraann commented on #6
Issue closed ! Duplication post fail, sorry for disagreement

[2016-08-23 16:36] #6 closed, assigned to nobody

[2016-08-28 22:19] kristian commented on #7
Hello Plaigon, not sure if I can support your here. Generally a lot of games are using low-level keyboard hooks themselfs to catch keyboard input. Or they even go "one level deeper" and use raw-input to receive keyboard events.

Generally the way low-level hooks work, is that one hook is called after another. Each hook has to call the next hook by invoking `CallNextHookEx`. If one hook doesn’t cal

[2016-08-28 22:19] #7 closed, assigned to nobody

[2016-09-03 15:00] JimVercoelen opened #8 "UnsatisfiedLinkError"
Getting exception:
Caused by: java.lang.UnsatisfiedLinkError: lib: libkeyboardhook-darwin-x86_64.dylib not found in lib directory

Running on mac, does this means this lib is not supported for mac?

[2016-09-03 15:02] JimVercoelen commented on #8
Nvm, didn't say that its windows only
my bad

[2016-09-03 15:02] #8 closed, assigned to nobody

[2016-12-04 03:59] fidelcom1 opened #9 "Events not firing"
Hello! I using the next code, but events are never firing :(
My code:
https://code.re/jBvNhc79

What I doing wrong? In my log:

NATIVE: DllMain - DLL_PROCESS_ATTACH
Hook Created!
Thread Working!
Thread Working!
Thread Working!
Thread Working!
...

Thank you!

[2016-12-05 00:36] satyagraha opened #10 "How about support for posting keyboard and mouse events?"
Often we want to do the above when a specific kbd event happens...
Some clues: https://github.com/kwhat/jnativehook/blob/dd04fa987e1153cce078c859924f945307c04734/src/jni/org_jnativehook_GlobalScreen.c#L134

[2016-12-11 23:12] kristian commented on #10
Good idea. Unfortunately I currently don't have the time to implement posting support. Nevertheless feel free to send me a pull request! Otherwise I unfortunalely would have to stall this. Also Linux support is still in my queue. Sorry. Issue stays open for reference, don't worry. :-)

[2016-12-11 23:13] kristian commented on #9
Hello! :-) Can you please download the debug build of the library from [AppVeyor](https://ci.appveyor.com/project/kristian/system-hook), try again and paste the console output please? Thanks.

[2016-12-19 14:08] mhashim6 opened #11 "about a keyTyped-like method"
pressing shift or caps doesn't affect the state of entered chars (they aren't capitalized) , I managed to solve this in my testing/launcher class, I wonder if this's possible to implement in low-level?
also in GUI components there's a keyTyped method that handles the typed characters, is this possible to implement here? thanks.

[2016-12-29 19:48] kristian commented on #11
Hello Muhammad, thanks for considering using the system-hook library. This library is focussed on detecting *key*-presses. Determining the character pressed for some keys typed, would involve much more tricky stuff to be done, such as keyboard layout mapping and multi-key handling (e.g. for Chinese, one unicode character might be "composed" by multiple key presses). I wanted to keep the library as

[2016-12-29 19:48] #11 closed, assigned to kristian

[2017-02-24 23:32] 28andrew opened #12 "Support for determining keyboard used?"
I wonder if it is possible to add support for determining the keyboard being used. Maybe return the unique keyboard "id".

[2017-02-26 17:45] kristian commented on #9
I'm closing this, as I havn't heared back the problem likely is already resolved.

[2017-02-26 17:45] #9 closed, assigned to nobody

[2017-02-26 17:46] kristian commented on #12
Good idea. I think that'd fit the library really well. Unfortunately I don't think the LowLevel routines provided by Windows do provide such a "keyboard id". Input it input, regardless of which device the input came from. If somebody has an idea, please feel ree to comment. I'll let this issue stay open for reference.

[2017-02-26 18:35] 28andrew commented on #12
Interception does it somehow. I think it uses a driver. LuaMacros also does it, I don't think it uses a driver.
Both of these aren't in Java but maybe you can do something similar with JNI.
https://github.com/oblitum/Interception
https://github.com/me2d13/luamacros

[2017-02-26 18:35] 28andrew commented on #12
Oops sorry, closed it by accident.

[2017-02-26 18:48] kristian commented on #12
Nice, I'll take a look at it as soon as I find some spare time.

[2017-03-06 01:39] makssof opened #13 "java.lang.UnsatisfiedLinkError"
Hello.
Windows 10.14393 x86

[code]

[code]

[2017-03-06 09:00] kristian commented on #13
Are you trying to run the framework from source, or did you download any of the JAR bundles provided in the [releases](https://github.com/kristian/system-hook/releases) section? If you are running it from source, you'll have to download the DLL files from AppVeyor or compile them yourself, and put them to the mouse/keyboard-hook.lib.path directory. Hope this helps.

[2017-03-06 16:53] makssof commented on #13
I tried both methods (.jar & sources)
Same error (with [keyboard || mouse])

[2017-03-06 21:06] kristian commented on #13
How did you add the JAR file to your project, are you using Maven / Eclipse / command line? Can you please try to run the debug JARs from [AppVeyor](https://ci.appveyor.com/project/kristian/system-hook) for your platform and see if there is any more debug output in console?

[2017-03-07 16:10] makssof commented on #13
![sh](https://cloud.githubusercontent.com/assets/6056515/23665462/837c8fac-0369-11e7-960a-ebd65dce4715.png)

[2017-03-07 22:52] kristian commented on #13
Hmm honestly, at the moment I have no clue why this is happening. The strange thing is: the DLL seems to be loaded just fine (this is the first NATIVE print), but afterwards the native method can't be called in the DLL. But the native method name doesn't vary between platforms, so it should work in any case. I'm not able to reproduce the problem on my (x64) machine.

Could you please download the

[2017-03-08 12:39] makssof commented on #13
[code]

[2017-04-26 12:52] Wirjun opened #14 "Windows 32-bit problem"
After exporting JAR data is not working properly
see email converstation from the 26.04.2017

[2017-05-31 14:29] kristian commented on #14
Duplicated by #13

[2017-05-31 14:29] #14 closed, assigned to kristian

[2017-05-31 14:30] kristian commented on #13
I was finally able to reproduce this issue on a 32-bit Windows 8.1 VM. I'll be looking into this now.

[2017-05-31 22:49] kristian commented on #13
A missing linker flag in the latest MinGW environment of AppVeyor caused GCC to decorate all 32-bit functions with an `@8` suffix. This caused the native call to fail from Java because the equivalent function was missing. Fixed with 2.6 by adding `-add-stdcall-alias` linker flag.

Sorry for the late fix, but it took some time to get a 32-bit test environment going. Thanks.

[2017-05-31 22:49] #13 closed, assigned to kristian

[2017-06-02 14:15] HossamMohsen7 opened #15 "Block or cancel keyboard keys"
Hello,
Can you implement something like if a specific key is press then cancel the key press or is that already in the project because I want something like that in my application

[2017-06-02 16:48] kristian commented on #15
Hello Hossam, blocking keys is not really possible (at least for the current low-level library used for Windows). To explain it in detail, it’s important to understand how low-level hooks work in Windows, my comment in issue #7 explains the details. So the order of hooks determines “who” will get the information. If you are luckly, you’ll be the first one in the chain, so by not calling CallNextHo

[2017-06-02 16:48] #15 closed, assigned to kristian

[2017-06-08 22:50] kristian commented on #12
Hello Andrew, good news. With the next major revision of this library, I decided switching from the Windows "Hook Functions" to the newer "[Raw Input](https://msdn.microsoft.com/library/windows/desktop/ms645543.aspx)" API. This will essentially drop support for Windows 2000 machines, whilst bringing a lot of advantages along:

- The raw input API is newer and better documented by Microsoft
- It's

[2017-06-08 23:38] 28andrew commented on #12
Wow, that's amazing. I didn't expect you to still consider supporting it months later. I'm looking forward on the progress. 😄

[2017-06-09 17:16] mwss1996 commented on #12
This will be a great improvement. Could we expect a release date?

[2017-06-09 17:22] kristian commented on #12
Hello Michael, if everything goes as planned maybe already this Sunday. For the third major release I am planning to do some major changes to the library:

- Moving from the "Hook Functions" to the "Raw Input" API
- Merging the Mouse/Keyboard Hook Native Libraries, which should effectively cut the library size in half
- ~~Add basic "posting" support for keys / mouse events (see #10)~~

[2017-06-09 17:47] mwss1996 commented on #12
Wow, i was thinking this wanna take months.
It's possible to get the devices names too? I was thinking in let the user to choose the proper device to get the input.

[2017-06-09 21:40] kristian commented on #12
No promises, but I'll try to add that as well.

[2017-06-11 13:40] kristian commented on #12
Done. Released version 3.0. Enjoy!

[2017-06-11 13:40] #12 closed, assigned to kristian

[2017-06-11 15:02] 28andrew opened #16 "All global key presses have the same device handle"
With the code
[code]
It gives me a device handle of `0` even though I have 2 Logitech keyboards plugged in (one wireless, one wired). I restarted the application to try again and it still persisted.
![image](https://user-images.githubusercontent.com/9660418/27011963-bddaaf3a-4e8c-11e7-881b-4c48e283dcf9.png)
![image](https://user-images.githubusercontent.com/9660418/27011970-e5e7026c-4e8c-11e7-92d0

[2017-06-11 15:14] 28andrew commented on #16
Looking at code this may be hardcoded?
https://github.com/kristian/system-hook/blob/master/src/main/native/windows/SystemHook.c#L110
[code]
The 0 is passed onto ▽
https://github.com/kristian/system-hook/blob/master/src/main/native/windows/SystemHook.c#L82
[code]
▽
https://github.com/kristian/system-hook/blob/master/src/main/native/windows/SystemHook.c#L101
[code]

Though I'm not a C programmer.

[2017-06-11 15:38] 28andrew commented on #16
Both keyboards show up in GlobalKeyboardHook#getKeyBords (not a typo on my side)

[code]

[2017-06-11 15:40] kristian commented on #16
You will have to initialize the GlobalKeyBoardHook with the parameter true `new GlobalKeyboardHook(true)`, to enable the new "raw input" mode. If `false` is passed, you are still using the old keyboard hook (for legacy compliance reasons). As soon as you "switch on" raw mode, you should get the device ID.

Thanks for noticing the typo. I'll fix it and re-upload a 3.1 build. Thanks.

[2017-06-11 15:40] #16 closed, assigned to nobody

[2017-06-11 15:56] kristian commented on #16
Fixed with 3.1.

[2017-06-11 16:04] 28andrew commented on #16
Kind of ironic how there is a typo in the commit message 😆

[2017-06-11 16:11] kristian commented on #16
Well at least I wanted to highlight the severity of minor version 3.1 ;)

[2017-06-11 20:23] mwss1996 opened #17 "The raw mode causes my application interface (Swing/JavaFX) to not recieve the events."
If I instantiate the GlobalKeyboardHook, with a true parameter, my application stops to recieve the key events. The same with GlobalMouseHook, but for mouse events.

I am writing a Swing application, but I have tested the issue with JavaFX to confirm if it was not a Swing specifc problem.

As example, the below JavaFX application becomes unusable:

[code]

[2017-06-11 21:11] kristian commented on #17
Interesting. No idea why this happens yet... According to the Windows documentation raw input should be a plain "listener". Blocking inputs isn't possible. Strange...

[2017-06-11 21:21] mwss1996 commented on #17
hope you can figure it out. I have no ideia.

[2017-06-17 17:53] mdloucks commented on #17
I've been having the same problem with JavaFX text fields, the problem fixes itself once the parameter is changed to 'false', but I hope you can fix the problem!

[2017-06-17 17:58] kristian commented on #17
If raw input is not required, the it's fine to leave the parameter remain `false`. I can reproduce the problem for both JavaFX and Swing/AWT. Seems strange to me... I hope Java doesn't register a raw input hook itself, otherwise it might runs into problem, as both share the same process ID to register the window handle... Just a wild guess. I hope I can look into this tomorrow.

[2017-07-23 08:27] mohamed0123 commented on #2
I know this answer too late for you , but may help other.
go to the project https://github.com/kristian/system-hook/releases
then download the system-hook-3.1.jar then extract the content of jar using 7zip,winrar any decompress application
and in your extraction folder go to \lc\kra\system\lib folder ten copy the content of this folder
to the project at /system-hook/src/main/java/lc/kra/system/lib

[2017-08-15 08:35] sirgyula commented on #17
Hello kristian!
This problem occurred here too. Have you found any reason for the bug? Do you know any drawback using the hook with ```raw=false```?
I'm using win10 prof 1703 and java1.8_144 with JavaFx, if that helps.
Thanks!

[2017-08-21 16:20] tlaukkan opened #18 "Running example code in Windows 10 works but prints errors on console"
It would be nice to disable these from console:

Warning: org.apache.xerces.jaxp.SAXParserImpl$JAXPSAXParser: Property 'http://www.oracle.com/xml/jaxp/properties/entityExpansionLimit' is not recognized.
Compiler warnings:
  WARNING:  'org.apache.xerces.jaxp.SAXParserImpl: Property 'http://javax.xml.XMLConstants/property/accessExternalDTD' is not recognized.'
Compiler warnings:
  WARNING:  'org.apa

[2017-08-21 17:38] tlaukkan commented on #18
This seems to be a workaround:

    compile ('lc.kra.system:system-hook:3.1') {
        exclude group: 'xerces', module: 'xercesImpl'
    }

[2017-08-21 17:48] kristian commented on #18
Hello Tommi, fist of all, thanks a lot for your comment. Your error really wonders me, a) because I can‘t reproduce the error on my machine and b) besides an Apache component beeing used as a build evironment (Apache Maven), there should be no other Apache dependency. The sys-hook itself doesn‘t have any dependencies.

Could you please elaborate more in detail, which commands you try to execute an

[2017-08-21 18:05] tlaukkan commented on #18
Hi

Thank you for fast response Kristian.

Just adding the dependency to a new project and adding the following line to main method causes the output when running the application:

val keyboard = GlobalKeyboardHook(true) // use false here to switch to hook instead of raw input

The compile ('lc.kra.system:system-hook:3.1') dependency adds the following dependencies to project dependency list:

lc.

[2017-08-21 18:07] tlaukkan commented on #18
These dependencies are probably transient dependencies from the only dependency in system-hook pom.xml:

<dependency>
			<groupId>ant-contrib</groupId>
			<artifactId>cpptasks</artifactId>
			<version>1.0b5</version>
</dependency>

[2017-08-21 19:29] kristian commented on #18
Hi Tommi. Hmm, you are right. By the look of it, I dislike two things about the current way the POM file looks: 1) the ant-contrib dependency barely gets maintained / can be considered unmaintained, as the last version was released 9 years ago and 2) having the ant-contrib as a <dependency> simply feels wrong by now, as it is no dependency to the sys-hook library, but only used during the build ti

[2017-08-21 19:50] kristian commented on #18
Removed dependency to cpptask and switched to much better maintained nar-maven-plugin with d556894789ffa16058d7c387c9617425055f2b36 (version 3.2). Thanks for your suggestion! 👍

[2017-08-21 19:50] #18 closed, assigned to kristian

[2017-11-01 06:39] wumo opened #19 "Upload Source jar too?"
It would be very convenient with source jar.

[2017-11-08 11:58] vpchelko commented on #10
Right now you can use Robot for posting events

[2017-11-20 21:29] kristian commented on #19
Good idea! I will consider it for the next release.

[2018-01-22 01:31] TheNotary opened #20 "Where to get libsystemhook-linux-amd64.so?"
Hello, I'm consuming this project on a linux machine just to [test things out](https://github.com/thenotary/inputanalysis), and I get this message:

[code]

There's a comment indicating this might happen, but I'm a little confused as to how to overcome it.  Should I do an `apt-get install` to get it on my machine?  Googling brings me [here](https://github.com/bgroenks96/java-global-input-hook) to

[2018-01-25 01:36] TheNotary commented on #20
As an update, I running my exact code more or less works fine on windows machines, it's just not working on my Linux Mint machine.

[2018-01-25 02:48] TheNotary opened #21 "Intended behavior on keys being held down"
So when I hold a key down, the KeyDown event seems to be firing many many times.  Is that the intended behavior because if memory serves, the keydown and keyup should only fire once, when the transition from up to down occurs.

In other words, when I hold the 'a' key down for a few seconds and then let it up for the same amount of time, I see the below in the console for the demo:

[code]

This is

[2018-01-26 09:03] kristian commented on #21
Mhm, yes sounds reasonable to treat differently. I will take a look at it this weekend. Thanks.

[2018-01-26 09:05] kristian commented on #20
Linux support has not been added to this library. Nice that you found a library already implementing the native dependencies on Linux. I will take a look at them and come back to this. Unfortuantely I cannot give you any ETA when Linux support is officially added to this Library, as I am kind of busy doing other things right now.

[2018-02-03 22:17] kristian commented on #21
Sorry that it took so long to respond to this. Generally I decided to stay compliant to Javas [`KeyEvent`](https://docs.oracle.com/javase/7/docs/api/java/awt/event/KeyEvent.html). Also for the key event (pressed & typed) are fired repeatedly if the key is held down on the keyboard. Performancewise it will not make much of a difference. The event will be captured in any case.

For your use case, yo

[2018-02-03 22:17] #21 closed, assigned to kristian

[2018-02-12 18:32] Safraann opened #22 "Press key during a specific delay"
Hello there, first great work for this library, this is just awesome. I implemented it in a custom steering wheel for omsi 2 with a potentiometer. The system is pretty easy, when pot has 45 percents value on his axe, i calculate the equivalent in omsi wheel turns. But i need to be the most accurate as possible. When i turn 8 percent on my pot, it has to make an entiere turn in the game, so with my

[2018-02-12 20:06] kristian commented on #22
Hello Jules. To be honest, I am not entirely sure what you are trying to achieve. The library does currently not feature to simulate key presses. So I am not entirely sure, what you'd like to time? Currently the library only features to record key presses. The events are timed, as they are received by the keyboard itself. Also I am a little unsure what should be provided from a library point of vi

[2018-02-12 21:48] Safraann commented on #22
Thanks for your quick answer and really sorry kristian, i confused your library with Java'sone, here is my code:
https://pastebin.com/iV7GeU8R

Have you any idea to improve that code in the goal to maintain active the press during few seconds ?

[2018-02-16 23:06] pwitiw commented on #20
Hello,
I would also like to use this library for Linux.  Is ETA still unknown?

[2018-02-17 21:01] kristian commented on #20
Hello Patryk, yes... unfortunately. If nobody will provide me with a pull-request to accept, I do currently find no time to do the Linux port of the native libraries myself. Sorry for that.

[2018-02-17 21:02] kristian commented on #22
Hello Junes, sorry. I cannot provide you with any guidance on how to accurcately deal with the AWT Robot implementation. You might have to ask on Stackoverflow or so.

[2018-02-17 21:02] #22 closed, assigned to kristian

[2018-02-25 21:40] TrevorCow opened #23 "Getting raw input of unregistered keys and mouse buttons"
Will there be the future ability to get raw keyboard presses (such as macro keys) as well as mouse buttons (mouse button 4, 5 etc.)?

[2018-02-25 23:32] kristian commented on #23
Hi Trevor. I don't own a keyboard with macro keys, so I am a little unsure how keyboards / os handle these. In case (what I assume) they are using specific drivers to capture the macro key presses, I don't think it is feasible to capture these in a library, as it would require propriatory code to work. This library generally uses two different concepts on capturing key presses. You may want to ena

[2018-02-26 05:03] AdhityaG opened #24 "ANT build fails on jenkins"
The build.xml doesn't pick up the ANT installation and instead looks inside the workspace

[2018-03-06 04:09] AlexHZhou opened #25 "Problems with making custom jar"
Hi,
I'm want to customize the classes you provided. However, when I export  _src/main/java_  (with my changes) from your project as a jar file into my main project as an external jar, I get the error

Exception in thread "main" java.lang.UnsatisfiedLinkError: lib: systemhook-windows-amd64.dll not found in lib directory
	at lc.kra.system.LibraryLoader.loadLibrary(LibraryLoader.java:86)
	at lc.kra.s

[2018-03-06 10:56] kristian commented on #23
I will close this issue for now, as I havn't heared back from you. In case more input is needed, please feel free to reopen this issue anytime.

[2018-03-06 10:56] #23 closed, assigned to kristian

[2018-03-06 11:00] kristian commented on #25
Hello, please find the missing libraries on the AppVeyor site linked on the README.md:

https://ci.appveyor.com/project/kristian/system-hook

These are the native libaries you are missing, which is essentially the native counterpart of the Java libary to work. You will have to add them to your "lib" directory in order to make it work. To do so, you either will have to include the files to work wor

[2018-03-06 11:00] #25 closed, assigned to kristian

[2018-04-30 04:16] Yogi09 opened #26 "Can't write accented letters"
While the hook is running, I can't type the accents by themselves or the related combined characters that result from typing the symbol then the letter, such as éãòû. They simply won't appear on whatever text editor or the letter will appear by itself.

[2018-05-14 09:18] abcdw commented on #20
@TheNotary https://github.com/kwhat/jnativehook probably works on Linux and covers same features.

[2018-07-01 16:51] Fish-In-A-Suit commented on #17
I have been using the SYS in combination with LWJGL api (for the rendering part of my application), and have faced the same issue, where the window just froze when trying to collect input with raw mode. Switching from true to false in the constructor for GlobalMouseHook resolved the issue.

[2018-07-15 10:54] dimitris23bp commented on #25
I have the same issue and I don't even know where to start from. I can't find any dll on the above link. Despite that, the whole procedure with Maven looks enormously difficult since I have to use command line, path and plenty of things I barely know. So, I hope I could just copy and paste the files that I need but I really don't know how to solve the issue @SupaTroopa42 and me are facing. Any fur

[2018-10-08 00:50] jazamb opened #27 "UnsatisfiedLinkError on Mac"
I was trying to run my application (JAR file) with system hook 3.2 and I got an UnsatisfiedLinkError. I never got this error on my windows computer, but for some reason I get this error on my iMac.
[code]
Any help would be appreciated

[2018-10-08 07:41] kristian commented on #27
Hello, see #20. Linux / Mac native support was actually never added to this library due to time constraints. Unfortunately I don‘t think I‘ll find the time anywhere soon. I will take this issue as a enhancement request for the Mac part, the same as #20 is for Linux. Please feel free to provide me with a pull request in case you‘d like to start with an implementation. Thanks!

[2018-11-09 03:04] Josecaetanofaganello commented on #25
Just download system-hook-3.2.jar and add to your lib path
https://github.com/kristian/system-hook/releases

[2018-12-05 04:58] LogicBig opened #28 "GlobalKeyboardHook does not work on windows when TaskManager is in focus"
I tried GlobalKeyboardExample it works fine but does not work when a system dialog e.g. TaskManager or
Registry Editor (regex) is in focus. Looks like those dialogs consume all events. Is that possible to create a keyboard hook to listen at lower level?

[2018-12-09 12:43] kristian commented on #28
To the best of my knowlege this is a security mechanism introduced by Windows, in order for you to not do any malicious activities on those system critical apps. SystemHook already utilizes two very low level APIs (`SetWindowsHookEx` and if the `raw` flag is set it creates an invisible message-only window). But as the name suggests, these are both APIs which are provided to you by the operating sy

[2018-12-09 12:43] #28 closed, assigned to kristian

[2019-02-05 18:08] haseeb-xd opened #29 "getkeychar printing ?"

[2019-02-06 23:29] JaCoB123456798 opened #30 "Mouse4 and Mouse5 support?"
I would love if support for detecting mouse4 and mouse5 (the side buttons some mice have) could be added if it's not too much trouble.

[2019-02-09 22:18] kristian commented on #30
Good suggestion and easy to do. Thanks Jacob. Done with 5c620a6b9a6b17c968c50e94fe50260e27f2e7d0, release v3.3. Hope this helps!

[2019-02-09 22:18] #30 closed, assigned to kristian

[2019-03-19 13:20] JaCoB123456798 opened #32 "No way to detect what mouse button is released?"
As far as I know, there is no way to get the mouse button that was released. Getting the buttons of the event only returns the mouse buttons currently being pressed.
I'm talking about the `@Override public void mouseReleased(GlobalMouseEvent event)  {}`

[2019-04-16 14:32] ljheee opened #33 "just for windows OS ?"
can i use it in linux 、Mac？

[2019-04-16 14:46] markozajc commented on #33
As far as I know, that isn't possible (at least not with the provided natives)

[2019-06-07 16:15] Hellosager commented on #32
Try the following:

[code]

In
[code]
dont call
[code]
like you seem to do. Instead call
[code]
and check the value against the predefined constants in GlobalMouseEvent.

[2019-06-13 08:20] luecking opened #34 "Use Hotkey [Windows]+[A]"
Currently it seems not possible to select simutanuously the [Windows] button plus an additional one like [A].
In comparison to [Control] or [Shift] there is no additonal function like isWindowsButtonPressed.

With [Windows] button, I mean the button with the Windows flag on it, usually placed between [Ctrl] and [Alt] ;-)

[2019-06-17 08:50] #34 closed, assigned to nobody

[2019-06-20 20:03] jjYBdx4IL opened #36 "maven central"
Please add it to maven central. There is currently no other such library there.

[2019-06-21 11:04] jjYBdx4IL commented on #17
Apparently, it's possible to register hotkey without window resources: https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-registerhotkey The hwnd parameter is optional. Maybe that helps. If you need the window resource for some reason, maybe add a default mode that is not using it, and an extended mode that can be activated by the user but tells him it may not work.

[2019-06-27 07:38] luecking commented on #36
There are other similar libraries, like JIntellitype.
But keep in mind, that they have differences in detail!

In general I like it, if you have alternatives, so I agree to put system-hook also to maven-central.

[2019-06-27 07:41] luecking commented on #33
There are alternatives.
Please check https://github.com/dstjacques/JHotKeys, it is a wrapper for JIntellitype (Windows) and JXGrabKey (Linux).
Keep in mind, that the behavior could be in detail different to system-hook!

[2019-06-27 07:49] luecking opened #37 "forwarded key events vs. blocked key events"
Hello,
I've following situation.
I currently use JIntellitype which doesn't forward captured key events.
With system-hook I recognized, that key events are forwarded to following possible listeners.

Both has pros and cons. Is there a possibility to make it configurable?

Means, if I set the HotKey I could also set the param if the HotKey will be captured only by my application or stays alive and

[2019-06-27 08:16] jjYBdx4IL commented on #36
well, I recently discovered that all of the functionality is already present in jna-platform. One just has to look at two examples there.

[2019-06-27 08:16] #36 closed, assigned to nobody

[2019-07-03 12:02] kristian commented on #33
Hello ljheee, luecking and markozajc are right, JSysHook currently ONLY supports Windows! There are already issues addressing this (#20, #27), but currently I don't find any time to drive the impelemtnation personally. In case you'd like to take that, please feel free to raise a pull request. I will close this issue as a duplicate to the two linked issues. Thanks.

[2019-07-03 12:02] #33 closed, assigned to kristian

[2019-07-03 12:14] kristian commented on #37
Hello @luecking, I think this is a good idea. I just checked the documentation to confirm calling `CallNextHookEx` is indeed *optional*. But please be aware: Whether you get or not get the events, depends on the order of hooks registered. It could be that another application registered the hook, which will lead to your hook NOT beeing triggered and vice versa. I will see what I can do.

[2019-07-03 13:08] kristian commented on #37
Done with #fc7691603677c28cc0bcf7a8f6c8307058bc9985 and release 3.5

[2019-07-03 13:08] #37 closed, assigned to kristian

[2019-08-09 17:05] luecking opened #38 "GlobalHookMode.FINAL"
Hello,
I played around with it. But I run into problems.
Indeed, it stops forwarding the key events to other applications. But now all keys are blocked.

It would be better, if only keys which are registered, will be blocked for other applications.

I'm testing with Windows 10 and  [Windows]+[G] for example.

Please have a look.

[2019-10-14 01:53] JaCoB123456798 opened #39 "No way to tell which shift/control/alt is being pressed?"
I'd love to be able to tell whether it was the left or right shift/control/alt being pressed instead of just knowing if at least one of them was being pressed.

[2019-10-22 13:27] Ladislav-Luyi commented on #25
thanks for your post it helped me

[2019-10-26 20:45] kristian commented on #25
Just to maybe still clarify this:

All required **Windows** DLLs are already included in the downloadable JAR files you find at: https://github.com/kristian/system-hook/releases. It should be fine adding these JAR files (or the Maven dependency in that regard) to your classpath and you should be ready to go!

In case you are looking for the DLLs "stand-alone", you can download them from Appveyor,

[2019-10-26 21:00] kristian commented on #38
Hello @luecking, sorry for the late reply.

There are two ways to be doing this. One is unfortunately not so easy to do, with the current design of the library, the other is much more less elgant:

**Option A:** Would be that every event (similar to e.g. events in JavaScript) get a "preventDefault" method. That way you would be able to call the method in your handler, which would prevent forwardin

[2019-10-26 21:00] kristian commented on #32
Thanks @Hellosager! Closed.

[2019-10-26 21:00] #32 closed, assigned to nobody

[2019-10-26 21:04] kristian commented on #39
Hello @JaCoB123456798, sorry for the late reply!

Please have a look at the `extendedKey` property of the MouseEvent! In case extendedKey = true, it's the RIGHT button for all of the individual duplicate buttons:

VK_LWIN -> winPressed = true
VK_RWIN -> winPressed = true and extendedKey = true

The same applies for: LWIN/RWIN, LMENU/RMENU, LSHIFT/RSHIFT and LCONTROL/RCONTROL.

Hope that helps! Bes

[2019-10-26 21:04] #39 closed, assigned to kristian

[2019-10-26 21:05] kristian commented on #29
Sorry for the late reply, I havn't even seen this issue sorry!

What does "getkeychar printing" mean?

[2019-12-05 20:24] nikalsh opened #40 "Installing with Maven = JNI Error"
Hi, I'm trying to build a project with mvn compile / install.
Maven is able to download it as a dependency though, I can use system-hook while running the program through my IDE.

The maven built jar can't be run though.

This is the error:
[code]
From my pom.xml:

[code]
Any ideas?

[2019-12-05 20:30] kristian commented on #40
Which operating system are you using?

[2019-12-05 21:41] nikalsh commented on #40
I'm on Windows 7 64x

[2019-12-20 00:58] johndev4 opened #41 "UnsatisfiedLinkError"
Hi, I have an error:
Exception in thread “main” java.lang.UnsatisfiedLinkError: lib: systemhook-windows-amd64.dll not found in lib directory
at lc.kra.system.LibraryLoader.loadLibrary(LibraryLoader.java:86)
at lc.kra.system.keyboard.GlobalKeyboardHook.(GlobalKeyboardHook.java:113)
at lc.kra.system.keyboard.GlobalKeyboardHook.(GlobalKeyboardHook.java:101)

what should I do?

[2019-12-23 13:59] kristian commented on #40
When you compile it, are you sure you are not changing the package / class names of the library? If you do so, you would have to also change the JNI part in the .c files provided?

[2019-12-23 14:00] kristian commented on #41
Hello @johndev4, are you using the library as an dependency, or did you just copy the source files to your project. If you have done the second, you will have to provide the library .dll files alongside your project. These are included in the release JAR provided in the releases section or on Appveyor. Hope this helps.

[2020-01-08 15:46] Codenarski opened #42 "Hook seems to not work in games"
Hi,
i wanted to use your hook to spam a single button. The spam works inside a notepad file, the browser and any other application i tested, but not inside the game i want to use it. Game runs in Windowmode.

[2020-01-08 21:14] kristian commented on #42
Hello Jan, likely the game uses a different Windows API in order to capture it's keystrokes. Also this library is for listening to keystrokes, not for sending them. So you likely are not using this library to send the keystrokes but a different one.

[2020-01-08 21:14] #42 closed, assigned to kristian

[2020-01-11 04:18] johndev4 commented on #41
Hi @kristian, I just copy the source files to my project. Where can I get the library .dll files?

[2020-01-12 12:32] kristian commented on #41
You may download them from AppVeyor, see:

For x86: https://ci.appveyor.com/project/kristian/system-hook/build/job/nb4na3f3xj4oghk7/artifacts
For x64: https://ci.appveyor.com/project/kristian/system-hook/build/job/o4ulb68o1nvv70ll/artifacts

Hope this helps. Regards,
Kristian

[2020-01-12 12:32] #41 closed, assigned to kristian

[2020-03-01 05:36] JaCoB123456798 opened #43 "Multiple Keys"
There seems to be detection issues when using multiple keys at once sometimes. This doesn't happen with the mouse because there is a way to manually check each key instead of relying on the single key returned by the event's function.

[2020-03-05 08:15] luecking commented on #43
Hello,
I recognized this also when using the windows hook in a different way.
I think it was like (CTRL-ALT-A): You can press CTRL-ALT first and then A, but not the other way around. Sometimes I also recognized this between CTRL and ALT.

[2020-04-06 07:02] #43 closed, assigned to nobody

[2020-04-10 22:25] edsonqr opened #45 "Accented characters do not work"
While the hook is running, accented characters and quotation marks before words do not work. Example: ú ã "test"

[2020-04-10 22:26] edsonqr commented on #26
I have the same problem.

[2020-04-23 14:07] balrok opened #46 "Deploy it in a maven-repository or somewhere else, besides github"
Hello,
it would be really great if you can deploy the jar on another place besides github.
I have two reasons:
* raw.githubusercontent has not such a high uptime - maybe down once or twice a month (actually it is down  right now, thats why I've looked into your repo ;-))
* I am using nexus to mirror all maven-repositories so I don't need to download so much all the time. But I cannot configure it

[2020-04-25 12:31] Hayato175 opened #47 "NoClassDefFoundError with GlobalKeyListener"
Hello,

I try to use your library in my project.
When I launch my project on Intellij, the program works well but when I export my project as JAR, the following exception appears :
`Exception in thread "main" java.lang.NoClassDefFoundError: lc/kra/system/keyboard/event/GlobalKeyListener
	at fr.author.simpleKeyLogger.modele.Main.Main.main(Main.java:31)
Caused by: java.lang.ClassNotFoundException: l

[2020-04-26 20:34] kristian commented on #46
Releasing to Maven Central is quite some hastle as it turned out... you need to apply for a repo., to afterwards sign and upload there... However I agree to you, that the GitHub Repo. is no longer state-of-the-art (or never was ;) ). I prepared the first release to Maven Central w/ ecac4d1bdfb38e54940ee748fbd22ffc38da3b89. Let me notify you, as soon as it is available!

[2020-04-27 07:55] kristian commented on #46
The library is now available on Maven Central! Enjoy! :)

[2020-04-27 07:55] #46 closed, assigned to kristian

[2020-04-27 07:56] kristian commented on #40
The library is now available on Maven Central. Can you please try again consuming it from there? Thanks.

[2020-04-27 07:57] kristian commented on #47
Hello @Hayato175, the library is now available on Maven Central, other than on GitHub, can you please try to consuming it from there?

If you build your JAR, you'll have to also include all other JAR dependencies into the JAR you export as a so called "uber-jar" or "fat-jar". Otherwise the library will not find the class files required to launch. Hope this helps.

[2020-04-27 07:57] #47 closed, assigned to kristian

[2020-04-27 10:07] nikalsh commented on #40
Thanks, I will try

[2020-04-29 08:45] balrok commented on #46
You are the best! :-) thank you very much

[2020-07-16 13:24] leopoldhub commented on #17
same problem for me... please fix it ;-;

[2020-08-20 13:11] Zh-Can commented on #17
I've been having the same problem ....

[2020-08-28 16:33] amiru3f commented on #28
Hi Dude, hope this is not too late to post!
Just run your keylogger (or app that enabled hook) as Administrator,
hook chain on elevated apps UI will just be passed to elevated key loggers.

[2020-10-14 13:51] KOConchobhair commented on #17
Hello @kristian just stumbled across your library and this issue...could it perhaps be related to not calling `DefRawInputProc(&input, 1, sizeof(RAWINPUTHEADER));` after `GetRawInputData(...)`?

See the post [here](https://devblogs.microsoft.com/oldnewthing/20160627-00/?p=93755) where the author states,

[2020-10-18 18:20] kristian commented on #17
Good catch @KOConchobhair and would fit the issue quite well. Unfortunately no success on my side... I added it anyways in c9463895324c5b467f0b8535dbd90a440006645d / 3.8, as I think it's good to have it in. The issue w/ Java is still not solved though... Shame.

[2021-02-23 10:54] sl5net opened #49 "ibsystemhook-linux-amd64.so not found (Maven Ubuntu)"
i got error if i try run it out of IDE (jetbrains IDE):

[code]

[2021-04-08 11:27] Zzerr0r opened #50 "lib: systemhook-windows-amd64.dll not found in lib directory"
just cloned the project and tried to run GlobalKeyboardExample. Seems some /lib folder is missing

[2021-04-28 17:31] Hellosager commented on #49
There is currently no support for other OS besides Windows.

Refer to:
https://github.com/kristian/system-hook/issues/33#issuecomment-508064153

[2021-04-28 17:32] Hellosager commented on #50
There is currently no support for other OS besides Windows.

Refer to:
https://github.com/kristian/system-hook/issues/33#issuecomment-508064153

[2021-04-28 17:44] Zzerr0r commented on #50
I am on Windows

[2021-04-28 21:25] Hellosager commented on #50
My bad... it's in the title. I thought it's the same as #49

[2022-05-10 16:03] BullyWiiPlaza commented on #45
I have the same problem, is there anyone with a solution or @kristian?
The C source code mentions this problem but seemingly does not solve it:
https://github.com/kristian/system-hook/blob/master/src/main/native/windows/SystemHook.c#L86

[2022-05-16 20:42] kristian commented on #45
@BullyWiiPlaza unfortunately I never found a simple solution for the accented characters issue... fixing it for one codepage broke it for another and vice-versa... Also I had much troubles reproducing this issue in the first place. If you provide me with a solution as a PR, I'd be happy to review it / set-up some test cases, otherwise I am afraid in not being able to dive into this again atm. Sorr

[2022-05-16 20:43] kristian commented on #49
Thanks @Hellosager. Linux / Mac OSX support has been in the pipeline for so long, that it is fair to say, it might never come for this library. PRs are highly welcome, for now this issue is closed and "wont-fix". Sorry.

[2022-05-16 20:43] #49 closed, assigned to nobody

[2022-05-16 20:45] kristian commented on #50
Sorry for the late reply. The repository does not contain any (pre-build) DLLs, meaning you will have to either build them locally on your PC, or download them from appveyor and put them into the /libs folder, in order to run the library locally.

[2022-05-16 20:45] #50 closed, assigned to nobody

[2022-05-16 20:46] kristian commented on #27
Has been four years, to it is fair to say, if no one issues a PR, Linux & Mac OSX support likely will not be provided anytime soon. See #49. Closing as "wont-fix" for now. Sorry.

[2022-05-16 20:46] #27 closed, assigned to nobody

[2022-05-16 20:48] kristian commented on #26
I know you where first, but closing this in favor of duplicate #45.

[2022-05-16 20:48] #26 closed, assigned to nobody

[2022-05-16 20:49] kristian commented on #20
Linux support likely will never be provided, see #49. Happy to accept any PRs! Closing with "wont-fix" for now, sorry.

[2022-05-16 20:49] #20 closed, assigned to kristian